body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


@font-face {
  font-family: Bebas;
  src: url(./fonts/BebasNeueRegular.eot);
  src: url(./fonts/BebasNeueRegular.woff) format('woff'),
       url(./fonts/BebasNeueRegular.ttf) format('truetype'),
       url(./fonts/BebasNeueRegular.svg) format('svg'),
       url(./fonts/BebasNeueRegular.otf) format('otf');
  font-weight: normal;
  font-style: normal;
}
